*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body{
    background-color: rgb(66, 39, 92) !important;
}

/* mi clase */
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

header{
    background-color: rgba(28, 27, 29, 0.842);
    height: 50px;
}

.max{
    max-width: 1000px !important;
}



.main{
    height: 500px;
    border: 1px solid white;
}

.my-foto{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}